on fs
    mkdir /dev/usb-ffs 0770 shell shell
    mkdir /dev/usb-ffs/adb 0770 shell shell
    write /sys/class/android_usb/android0/f_ffs/aliases adb
    mount configfs none /config
    mkdir /config/usb_gadget/g1
    mkdir /config/usb_gadget/g1/configs/b.1
    mkdir /config/usb_gadget/g1/functions/ffs.adb
    mkdir /config/usb_gadget/g1/functions/mtp.gs0
    mkdir /config/usb_gadget/g1/strings/0x409
    mkdir /config/usb_gadget/g1/configs/b.1/strings/0x409
    mount functionfs adb /dev/usb-ffs/adb uid=2000,gid=2000

on boot
    write /sys/class/android_usb/android0/iManufacturer ${ro.product.manufacturer}
    write /sys/class/android_usb/android0/iProduct ${ro.product.model}
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}
    write /sys/class/android_usb/android0/f_mass_storage/inquiry_string "Phoenix 0100"
    write /sys/class/android_usb/android0/f_rndis/manufacturer Realtek
    write /sys/class/android_usb/android0/f_rndis/vendorID 18d1
    write /sys/class/android_usb/android0/f_rndis/wceis 1

on property:sys.usb.config=mtp
    write /config/usb_gadget/g1/idVendor 0x18d1
    write /config/usb_gadget/g1/idProduct 0x4ee1
    write /config/usb_gadget/g1/strings/0x409/serialnumber "kylin"
    write /config/usb_gadget/g1/strings/0x409/manufacturer "Realtek"
    write /config/usb_gadget/g1/strings/0x409/product "FunctionFS gadget (mtp)"
    setprop sys.usb.configfs 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp,adb
    write /config/usb_gadget/g1/idVendor 0x18d1
    write /config/usb_gadget/g1/idProduct 0x4ee1
    write /config/usb_gadget/g1/strings/0x409/serialnumber "kylin"
    write /config/usb_gadget/g1/strings/0x409/manufacturer "Realtek"
    write /config/usb_gadget/g1/strings/0x409/product "FunctionFS gadget (mtp)"
    setprop sys.usb.configfs 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=rndis
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 18d1
    write /sys/class/android_usb/android0/idProduct 4ee3
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/bDeviceClass 224
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=adb
    write /config/usb_gadget/g1/idProduct 0x4EE7
    write /config/usb_gadget/g1/idVendor 0x18d1
    write /config/usb_gadget/g1/strings/0x409/serialnumber "kylin"
    write /config/usb_gadget/g1/strings/0x409/manufacturer "Realtek"
    write /config/usb_gadget/g1/strings/0x409/product "FunctionFS gadget (adb)"
    setprop sys.usb.ffs.ready 1
    setprop sys.usb.configfs 1

on property:sys.usb.config=rndis,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 18d1
    write /sys/class/android_usb/android0/idProduct 4ee4
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/bDeviceClass 224
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=ptp
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 18d1
    write /sys/class/android_usb/android0/idProduct 4ee5
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=ptp,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 18d1
    write /sys/class/android_usb/android0/idProduct 4ee6
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}
